* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  /* background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px; */
}

h1 {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

main {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

input,
select,
button,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  background-color: #dcdcdc;
}

.shift-container {
  margin: 10px 0;
}

.radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer; /* Makes the entire label clickable */
}

.radio-item input[type="radio"] {
  margin-right: 10px;
}

#employee-search {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.reason-button {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.1s;
}

.reason-button:hover {
  background-color: #e0e0e0;
}

.reason-button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  transform: translateY(-2px);
}
